<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishnn.labtools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->

    <application
        android:name=".MainActivity$GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/test_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:host="oauth"
                    android:scheme="kakao{fa80791b0b8cfd763b4894481f6e8638}" />
            </intent-filter>
        </activity>
    </application>

</manifest>